
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Reply form */

.postform {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

/* POSTS */

.post {
	margin-bottom: 14px;
	display: inline-block;
	background-color: #bbb;
}

/* Post Header */

.post .header {
	background-color: #ccc;
	border-bottom: 1px dashed;
	padding: 4px;
}

.post .postid {
	float: left;
}

.post .timestamp {
	margin-left: 20px;
}

/* Post content */

.post .postcontent {
	background-color: #bbb;
}

/* Post attachments */

.webm, .image {
	float: left;
	margin: 5px;
}
