<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.thread {
			border-style: solid;
		}
	</style>
</head>
<body>
	{{$board := .Name}}
	<div>
		<form method="post" action="/{{$board}}/" enctype="multipart/form-data">
			<div class="fileupload">
				{{range .MaxMedia}}
				<input type="file" name="file{{.}}" /><br/>
				{{end}}
			</div>
			<textarea name="text" rows="4" cols="40"></textarea><br/>
			<input type="submit" value="upload" />
		</form>
	</div>
	{{range .Threads}}
	<div class="thread" id="thread_{{.Post.Id}}">
		<div class="header">
			<div class="postid">
				{{.Post.Id}}
			</div>
			<div class="posted">
				{{.Post.Posted}}
			</div>
			<div class="reply">
				<a href="/{{$board}}/thread/{{.Post.Id}}">Reply</a>
			</div>
		</div>
		{{if .Post.Media}}
		<div class="media">
		{{range .Post.Media}}
			<div class="image" id="media_{{.Id}}">
				<a href="/media/{{$board}}{{.Id}}{{.Extension}}">
					<img src="/thumb/{{$board}}{{.Id}}{{.Extension}}"></img>
					{{.Filename}}
				</a>
			</div>
		{{end}}
		</div>
		{{end}}
		<div class="text">
			{{.Post.Text}}
		</div>
	</div>
	{{end}}
	<div>			
		{{range .Pages}}
		<a href="/{{$board}}/{{.}}">{{.}}</a>
		{{end}}
	</div>
</body>
</html>
