<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/res/style.css"></style>
	<script src="/res/script.js"></script>
</head>
<body>
	{{$board := .Name}}
	<div class="postform">
		<form method="post" action="/{{$board}}/" enctype="multipart/form-data">
			<div class="fileupload">
				{{range .MaxMedia}}
				<input type="file" name="file{{.}}" /><br/>
				{{end}}
			</div>
			<textarea name="text" rows="4" cols="40"></textarea><br/>
			{{if .NeedsCaptcha}}
			{{template "captcha" .Captcha}}
			{{end}}
			<input type="submit" value="Post" />
		</form>
	</div>
	{{range .Threads}}
	<div class="thread" id="thread_{{.Post.Id}}">
		<div class="reply">
			<a href="/{{$board}}/thread/{{.Post.Id}}">Reply</a>
		</div>
		{{template "post" .Post}}
	</div>
	{{end}}
	<div>			
		{{range .Pages}}
		<a href="/{{$board}}/{{.}}">{{.}}</a>
		{{end}}
	</div>
</body>
</html>