{{define "post"}}
<div class="post" id="post{{.Id}}">
	<div class="header">
		<div class="postid">
			{{.Id}}
		</div>
		<div class="timestamp">
			{{.Posted}}
		</div>
	</div>
	<div class="postcontent">

		<div class="message">

			{{if .Media}}
				<div class="attachments">
				{{range .Media}}
					<div class="image" id="media_{{.Id}}">
						<a href="/media/{{.Copy}}">
							{{.Original}}<br />
							<img src="/thumb/{{.Copy}}" />
						</a>
					</div>
				{{end}}
				</div>
			{{end}}

			{{.Text}}
		</div>
	</div>
</div>
<br/>
{{end}}
