<!DOCTYPE html>
<html>
<head>
	<title>{{.Title}} - {{.Thread.Id}}</title>
	<link rel="stylesheet" href="/res/style.css"></style>
	<script src="/res/script.js"></script>
</head>
<body>
	{{$board := .Name}}
	
	{{range .Boards}}
	<a href="/{{.Name}}/">/{{.Name}}/</a>
	{{end}}
	<hr/>
	
	<div>
		{{range .Pages}}
		<a href="/{{$board}}/{{.}}">{{.}}</a>
		{{end}}
	</div>

	{{with .Thread}}
	<div class="thread" id="thread_{{.Id}}">
		{{template "post" .Post}}
		<div class="posts">
			{{range .Posts}}
			{{template "post" .}}
			{{end}}
		</div>
	</div>
	{{end}}
	
	<div>
		{{range .Pages}}
		<a href="/{{$board}}/{{.}}">{{.}}</a>
		{{end}}
	</div>

	<hr/>
	
	<div class="postform">
		<form method="post" action="/{{$board}}/" enctype="multipart/form-data">
			<input type="hidden" name="thread" value="{{.Thread.Id}}" />
			<div class="fileupload">
				{{range .MaxMedia}}
				<input type="file" name="file{{.}}" /><br/>
				{{end}}
			</div>
			<textarea name="text" rows="4" cols="40"></textarea><br/>
			{{if .NeedsCaptcha}}
			{{template "captcha" .Captcha}}
			{{end}}
			<input type="submit" value="Post" />
		</form>
	</div>
</body>
</html>
