<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.thread {
			border-style: solid;
		}
	</style>
</head>
<body>
	{{$board := .Name}}
	<div>
		<form method="post" action="/{{$board}}/" enctype="multipart/form-data">
			<input type="hidden" name="thread" value="{{.Thread.Id}}" />
			<div class="fileupload">
				{{range .MaxMedia}}
				<input type="file" name="file{{.}}" /><br/>
				{{end}}
			</div>
			<textarea name="text" rows="4" cols="40"></textarea><br/>
			<input type="submit" value="upload" />
		</form>
	</div>
	{{with .Thread}}
	<div class="thread" id="thread_{{.Id}}">
		<div class="post" id="post{{.Id}}">
			<div class="header">
				<div class="postid">
					{{.Id}}
				</div>
				<div class="posted">
					{{.Posted}}
				</div>
			</div>
			{{if .Media}}
			<div class="media">
			{{range .Media}}
				<div class="image" id="media_{{.Id}}">
					<a href="/media/{{$board}}{{.Id}}{{.Extension}}">
						<img src="/thumb/{{$board}}{{.Id}}{{.Extension}}"></img>
						{{.Filename}}
					</a>
				</div>
			{{end}}
			</div>
			{{end}}
			<div class="text">
				{{.Text}}
			</div>
		</div>
		<hr/>
		<div class="posts">
			{{range .Posts}}
			<div class="post" id="post{{.Id}}">
				<div class="header">
					<div class="postid">
						{{.Id}}
					</div>
					<div class="posted">
						{{.Posted}}
					</div>
				</div>
				{{if .Media}}
				<div class="media">
				{{range .Media}}
					<div class="image" id="media_{{.Id}}">
						<a href="/media/{{$board}}{{.Id}}{{.Extension}}">
							<img src="/thumb/{{$board}}{{.Id}}{{.Extension}}"></img>
							{{.Filename}}
						</a>
					</div>
				{{end}}
				</div>
				{{end}}
				<div class="text">
					{{.Text}}
				</div>
			</div>
			{{end}}
		</div>
	</div>
	{{end}}
	<div>			
		{{range .Pages}}
		<a href="/{{$board}}/{{.}}">{{.}}</a>
		{{end}}
	</div>
</body>
</html>
